.maincolor{
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
}
.mainheading
{
    text-align: center;

    
}
  
.main{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.icon1{
   margin-left: 250px;
   margin-right: 250px;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
}