.bg{
    background-color:black;
}
.img-size{
    width: 3%;
    height: 3%;

}

.line1 {
    border: 10px solid rgba(10, 33, 84, 0.775);
  border-radius: 5px;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
  }
.normal
{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
}
.nav-page{
  color: white;
}
  